.App {
    height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
}

.formButton {
    border: none;
    padding: 10px;
    background-color: rgb(244, 142, 74);
    color: white;
    font-weight: bold;
    cursor: pointer;
}